* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo {
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.textoytitulo {
    display: flex;
    margin:20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.titulo {
    display: flex;
    font-size: 28px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    font-size: 20px;
    color: grey;
    margin: 10px;
}

button {
    display: flex;
    color: white;
    background: rgb(44, 44, 44);
    width: 130px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
}

.fotos {
    justify-content: center;
    align-items: center;
}
.fotos img {
    max-width: 1200px;
    height: 600px;
}